#display-painel {
    padding: 20px;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto 0;
}

#display,
#painel {
    background-color: var(--background);
    padding: 20px;
    width: 550px;
    height: 440px;
}

/*__________________ DISPLAY __________________*/

header {
    padding: 0 8px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.info-header {
    margin: 0 9px;
}

figure {
    margin: 0;
}

main {
    padding: 15px;
}

.logo {
    height: 75px;
}

#box-titulo {
    transition: 1s;
    margin-left: -140px;
}

#titulo-display {
    justify-content: space-between;
    margin-top: -15px;
}

#menu-icon ,
#logout-icon {
    height: 20px;
}

#menu-icon,
#logout-icon {
    transition: 0.3s;
    color: var(--lightgray);
}

#menu-icon:hover,
#menu-icon:focus,
#logout-icon:hover,
#logout-icon:focus {
    scale: 1.2;
    color: var(--white);
}

hr {
    color: var(--white);
    margin-top: -15px;
    margin-bottom: 1px;
}

#content-display {
    height: 220px;
    transition: 1s;
}

/* VALUES */

.measure {
    background-color: var(--lightgray);
    border-radius: 7px;
    padding: 1px 7px;
    box-shadow: inset 0px 4px 4px 0px var(--shadow);
}

/*__________________ MENU STYLE __________________*/



/*_________________ TABLE STYLE _________________*/

table {
    margin: -15px auto 0;
    border: 2px solid var(--lightgray);
    border-radius: 10px;
    width: 450px;
}

table {
    font-size: 14px;
    margin-top: 20px;
    border-spacing: 0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--background);
}

td,
th {
    padding: 3px 15px;
}

.col1 {
    text-align: start;
}

.col2 {
    text-align: end;
}




