

#chart {
    height: 40px;
    width: 27%;
    background-color: var(--azulMGE);
    border-radius: 8px;
    box-shadow: inset 0px 4px 4px 0px var(--shadow);
}

#chart-points {
    display: flex;
    justify-content: space-around;
    margin: -3px auto 0;
    width: 440px;
    font-weight: bold;
    color: var(--lightgray);
}

.barra {
    font-size: 8px;
    font-weight: bolder;
    -webkit-text-stroke: 1px;
}

#border-chart {
    margin: -15px auto 0;
    border: 2px solid var(--lightgray);
    border-radius: 10px;
    width: 450px;
}